:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --result-text-color: rgba(255, 255, 255, 0.87);
  --result-bg: rgba(68, 67, 67, 0.3);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #fee600;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  text-align: center;
}

header {
  display: flex;
  gap: 1rem;
  background-color: var(--primary-color);
  padding: .5rem;
  align-items: center;
  justify-content: center;

  svg {
    width: 35px;
    height: 35px;
  }
}

nav {
  flex: 0.5;
}

.search-results-main {
  max-width: 1080px;
  margin: 0 auto;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-icon {
  width: 25px;
  
}
.search-bar-container button {
  margin: 0;
  padding: 0;
  width: 45px;
  border-radius:  0 7px 7px 0;
  
  min-height: 40px;
  border: none;
  border: 1px solid transparent;
}
.search-bar {
  flex: 1;
  min-height: 40px;
  margin: 0;
  padding: 0 1rem;
  border-radius: 7px 0 0 7px;
  border: 1px solid transparent;
  border-right: 1px solid #efefef;


}


.breadcrumb {
  display: flex;
  list-style-type: none;

  li {

    a:hover {
      text-decoration: underline;
    }

    &:nth-last-child(n+2)::after {
      content: ">";
    }
  }
}

.results-list {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;

  display: grid;
  gap: 10px;

}

.result-container {
  border: 1px solid transparent;
  border-radius: 16px;

  transition: border-color ease 200ms;

  &:hover {
    border: 1px solid var(--primary-color);
  }
}

.result {
  display: flex;
  padding: 15px;
  background-color: var(--result-bg);
  color: var(--result-text-color);
  border-radius: 16px;
  gap: 20px;


  img {
    background: #fafafa;
    border-radius: 15px;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 150px;
  }

  .price {
    text-align: left;
  }


  &:hover {
    color: var(--result-text-color);
  }
}

.result-details {

  margin: 0 1rem;
  padding: 1rem;
  border-radius: 15px;

  background-color: var(--result-bg);


  main {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;

    img {
      border-radius: 15px;
      width: 100%;
      max-width: 500px;
      max-height: 500px;
      object-fit: cover;

      margin: 0 auto;
    }
  }

  .main-info {
    display: grid;
    place-items: start start;
    height: min-content;
  }

  .stats {
    opacity: 0.8;
  }

  .price-icon {
    margin-right: .5rem;
  }
  .price {
    font-size: 2rem;
  }


  footer {
    display: grid;
    place-items: start;

    h2 {
      text-align: left;
    }

    .description {
      max-width: 96ch;
      text-align: left;
      text-wrap: balance;
    }
  }


}

.primary-button {
  border-radius: 6px;
  display: inline-block;
  font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  width: auto;
  -webkit-font-smoothing: antialiased;

  transition: box-shadow .25s ease-out,background-color .2s ease-out;

  background-color: #3483fa;
  border-color: transparent;
  color: #fff;

  line-height: 0;
  margin-top: 8px;
  width: 100%;

  cursor: pointer;

  &:hover {
    background-color: #2767c5;
  }
  
  &:active {
    background-color: rgb(59, 121, 215);
  }

}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
  margin-bottom: 24px;
  min-width: 800px;
}

.loader-container {
  display: grid;
  place-content: center;
  margin: 0 auto;

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #e6e6e6 90%, #cecece00);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --result-text-color: #213547;
    background-color: #ffffff;
    --result-bg: rgba(205, 207, 208, 0.29);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}